<!DOCTYPE html>
<html>
<head>
  <title>Max Live Code</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
<div id='menu'>
	<div class='fr'>
		<div>Press `Escape` to toggle menu.</div>
	</div>
	<div id='menuInputs'>
		<label><span class='w1-2 tar'>Number of editors:</span> <input id='numEditors' placeholder='From 1 to 6'
				value='3' /></label>
	</div>
</div>

<!-- <div id='view'><div class='w1-3 h50'><span id='v0'></span></div><div class='w1-3 h50'><span id='v1'></span></div><div class='w1-3 h50'><span id='v2'></span></div><div class='w1-3 h50'><span id='v3'></span></div><div class='w1-3 h50'><span id='v4'></span></div><div class='w1-3 h50'><span id='v5'></span></div></div> -->
<div id='view'><div id='v0' class='w1-3 h50'><span></span></div><div id='v1' class='w1-3 h50'><span></span></div><span></span><div id='v2' class='w1-3 h50'><span></span></div><div id='v3' class='w1-3 h50'><span></span></div><div id='v4' class='w1-3 h50'><span></span></div><div id='v5' class='w1-3 h50'><span></span></div></div>
<!-- <div id='view'><div id='v0' class='w1-3 h50'></div><div id='v1' class='w1-3 h50'></div><div id='v2' class='w1-3 h50'></div><div id='v3' class='w1-3 h50'></div><div id='v4' class='w1-3 h50'></div><div id='v5' class='w1-3 h50'></div></div> -->


<script src="jquery.min.js"></script>
<script src="p5.min.js"></script>
<script src="xebra.min.js"></script>
<script src="boid.js"></script>
<script src="flock.js"></script>
<script src="main.js"></script>
</body>
</html>